<div class="ui segment">
  <h3>Mailbox</h3>

  <div class="ui list">
    <div class="item">
    
      <% @conversations.each do |conversation| %>
          <p><%= link_to conversation_display(conversation), conversation_messages_path(conversation)%></p>
      <% end %>
    </div>
  </div>
</div>


<div class="ui segment">
  <h3>Your friends</h3>
  <div class="ui list">
    <% current_user.friends.each do |user| %>

      <div class="item">
        <%= user.name %> <%= link_to 'Message me!', conversations_path(user_ids: [current_user.id, user.id]), method: 'post'%>
      </div>

    <% end %>


    <br><br><p><%= link_to("Back", user_path(current_user.id)) %></p>
  </div>
</div>
