 
 <%if current_user == @user %>
    <form action="/users" accept-charset="UTF-8" method="get">
      <label for="q">Search for friends:</label>
      <input type="text" name="q" id="q">
     <input type="submit" name="commit" value="Search">
    </form>
<% end %>



<h2><%= friend_display(@user) %></h2>

<% @user.friends.each do |u| %>
    <%= display_thumbnail(u) %><br>
    <p><%= link_to(u.name, user_path(u))%></p>
<% end %>

<p><%= link_to("Back", user_path(@user)) %></p>