<h1>Found users</h1>


<ul>
  <% @users.each do |user| %>
  
    <%= link_to user.name, user_path(user) -%> 
  
    <%= display_friendship_status(user) -%>
    
    <br>
  <% end %>
</ul>

<p><%= link_to("Back", user_friends_path(current_user))%>