<h1>Found users</h1>


<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user_path(user) %> 
    </li>

    <% if !current_user.friend?(user) %>
        <%= render({partial: "friendships/form", locals: {user: user, friendship: @friendship}})%>
    <% else %>
            Already Friends
    <% end %>
    
    <br>
  <% end %>
</ul>

<p><%= link_to("Back", user_friends_path(current_user))%>